/* ====== Оверлей и нижняя панель ====== */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.edit-window {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #1F1E1B;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.4);
    transition: bottom 0.4s ease;
    max-width: 600px;
    margin: 0 auto;
}

.edit-window.active {
    bottom: 0;
}

.edit-window input {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    background: #2A2925;
    color: white;
}

.mini-input {
    height: 46px;
}



.edit-window .buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.edit-window button {
    width: calc(100% - 500px);
    background: var(--light-background-color);
    border: 1px solid var(--mark-color);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: background 0.2s ease;
}

.edit-window button:hover {
    background: #FF9A36;
}

