:root {
    --max-w: 1100px;
    --main-background-color: #1B1A17;
    --light-background-color: #1F1E1B;
    --mark-color: #FF8303;
    --main-text-color: #F0E3CA;
}

body {
    font-family: sans-serif;
    color: white;

    background: var(--main-background-color);

}

.container {
    max-width: var(--max-w);
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#noTasksArticle {
    border-top: 2px solid var(--mark-color);
    border-bottom: 2px solid var(--mark-color);
    padding: 8px 0;
    font-size: 2rem;
    opacity: 1;
    inset: 0;
    transition: opacity 0.3s ease;
}

#noTasksArticle.deactive {
    opacity: 0;
}
.upper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    width: 100%;
    padding-bottom: 16px;
}

textarea {
    color: inherit;
    width: 100%;
    height: 150px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid var(--mark-color);
    border-radius: 4px;
    background-color: var(--light-background-color);
    font-size: 1rem;
    resize: none;
}

.upper-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 100px;
    flex: 1;
}

.upper-right {
    display: flex;
    gap: 8px;
    align-items: stretch;
}

.btn {
    border: 2px solid var(--mark-color);
    color: var(--mark-color);
    background: transparent;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    flex: 1;
    aspect-ratio: 1 / 1;
}

.btn img {
    width: 40px; /* Исходный размер */
    height: 40px;
    transition: transform 0.2s ease;}

.btn:hover {
    background: var(--mark-color);
    color: white; /* иконка станет белой */
}

textarea::placeholder {
    color: var(--main-text-color);
    opacity: 0.5;
    text-align: start;
}

