:root {
    --max-w: 1100px;
    --main-background-color: #1B1A17;
    --light-background-color: #1F1E1B;
    --mark-color: #FF8303;
}

body {
    font-family: sans-serif;
    color: white;

    background: var(--main-background-color);

}

.container {
    max-width: var(--max-w);
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* центр по горизонтали */
}

.container a {
    border-top: 2px solid var(--mark-color);
    border-bottom: 2px solid var(--mark-color);
    padding: 8px 0; /* расстояние между текстом и линиями */

}

.upper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    width: 100%;
    padding-bottom: 16px;
}

textarea {
    color: inherit;
    width: 100%;
    height: 150px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid var(--mark-color);
    border-radius: 4px;
    background-color: var(--light-background-color);
    font-size: 16px;
    resize: none;
}

.upper-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 100px;
    flex: 1; /* позволяет блоку занять оставшееся место */
}

.upper-right {
    display: flex;
    gap: 8px;
    align-items: stretch; /* растягивает кнопку по высоте родителя */
}

.btn {
    border: 2px solid var(--mark-color); /* цвет границы */
    color: var(--mark-color);            /* цвет иконки */
    background: transparent;   /* убираем фон */
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    flex: 1; /* заставляет кнопку занять всю высоту родителя */
    aspect-ratio: 1 / 1;    /* высота = ширина, делаем квадрат */
}

.btn img {
    width: 40px; /* Исходный размер */
    height: 40px;
    transition: transform 0.2s ease;}

/* при наведении — сделать эффект */
.btn:hover {
    background: var(--mark-color);
    color: white; /* иконка станет белой */
}

