/* featured-destination */
.featured-destination {
  display: flex;
  align-items: center;
  gap: 4rem; /* Расстояние между картинкой и текстом */
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.featured-destination__image-wrapper {
  flex: 50%;
}
.featured-destination__image-wrapper img {
  width: 100%;
  border-radius: var(--border-radius); /* Скруглённые углы */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07); /* Легкая тень */
}
.featured-destination__content {
  flex: 50%;
}

.featured-destination__description {
  line-height: 1.6;
  margin: 0 0 2rem;
  max-width: 45ch;
}
